body {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul,
h1,
h2,
p,
h3 {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1620px;
}

header {

    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;

}

.header-container {
    display: flex;
    align-items: center;
    gap: 200px;
}

.header-logo {
    display: flex;

    align-items: center;

    text-align: center;
}

.header-title {
    color: #ff993a;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;

    font-size: 25px;
}

.header-img {
    width: 80px;
    padding-right: 40px;
}

.header-link {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
}

.header-link:hover {
    color: #ff993a;
    font-weight: 600;
}

.header-list {
    display: flex;
    list-style-type: none;

    gap: 65px;
}

.header-title {
    text-decoration: none;

}

.description {
    background-color: #FFE4CC;
    display: flex;
    align-items: flex-start;
    padding-left: 150px;

}

.description-img {
    margin-left: auto;
margin-right: 403px;
}

.description-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.description-link {
    padding: 15px 30px;
    border-radius: 5px;
    color: #ffffff;
    background: #FF463A;
}

.description-title1 {

    color: #FF993A;
    font-size: 16px;
    margin-top: 135px;

}

.description-title2 {
    font-family: 'Nunito', sans-serif;
    color: #FF463A;

    font-size: 48px;
    font-weight: 700;
    line-height: 65.47px;
    text-align: left;
    width: 237px;

}

.description-text {
    width: 527px;
    height: 108px;
    top: 533px;
    left: 150px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.28px;
    text-align: left;


}

.shop-now {
    background-color: #ffffff;
    margin: 300px;
  display: flex;
}



.shop-now-item{
    width: 800px;
    height: 500px;
    top: 938px;
    left: 150px;
    background: #EFEFEF;
    text-align: center;
    border-radius: 10px;
display: flex;
padding-left: 30px;



}
.shop-now-container{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.shop-now-title {
    width: 233px;
    height: 49px;

    color: #FF463A;
    font-family: "Nunito", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 49.1px;
    text-align: center;

}

.shop-now-text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 30px;
}

.shop-now-link {
    width: 157px;
    height: 153px;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    border: 2px solid black;
    opacity: 0px;
    color: #000;

}

.shop-now-item {
    width: 800px;
    height: 500px;
align-items: center;
    background: #EFEFEF;
    text-align: center;
    border-radius: 10px;
}

.shop-now-title {
    width: 233px;
    height: 49px;

    color: #FF463A;
    font-family: "Nunito", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 49.1px;
    text-align: center;

}

.shop-now-text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: left;

}
.shop-now-list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.flavors {
    background-color: rgba(255, 228, 204, 1);
    border-color: #000;
    border: 10px;
    padding-bottom: 50px;
}

.shop-now-wrapper{
    display: inline-block;
    
    
}



.flavors-title {
    padding-top: 60px;
    font-size: 48px;
    font-weight: 700;
    line-height: 65.47px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: rgba(255, 70, 58, 1);
padding-bottom: 30px;
}

.flavors-text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: center;
padding-bottom: 40px;

}

.flavors-list {
    display: flex;
    flex-wrap: wrap;




    gap: 20px;

}


.flavors-container {
}





.contact-list {
    list-style-type: none;
padding: 40px 0px;

align-items: center;
justify-content: center;
}

.email {
padding:30px 167px ;
    height: 348px;
    top: 2597px;
    left: 150px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 17px 0px #00000040;
}

.email-title {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 43.65px;
    text-align: center;
    color: #ff0000;



}

.email-text {

    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.18px;

    color: #000000;
}

.number {
    padding:30px 167px ;
    height: 348px;
   
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 17px 0px #00000040;
    margin: 0px 20px;
    align-items: center;
}

.number-title {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 43.65px;
    text-align: center;
    color: #FF463A;
}

.number-text {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.18px;
    text-align: center;
 
}

.adress {
    padding:30px 39px ;
    height: 348px;
    top: 2597px;
    left: 1243px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 17px 0px #00000040;


}

.adress-title {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 43.65px;
    text-align: center;
    color: #FF463A;

}

.adress-text {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.18px;
    text-align: center;

}

.number,
.adress,
.email {
    display: inline-block;
    vertical-align: top;
}

footer {
    background-color: #181818;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;

}

.footer-logo {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 35.57px;
    padding-left: 50px;

    color: #FF993A;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-img {
    width: 100px;
    height: auto;

}

.footer-text {

    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;

    color: #ffffff;
}

.footer-link {
    display: flex;
    align-items: center;
}
.number:hover{
    background-color: #ed0000;
    color: white;
    
}
.adress:hover{
    background-color: #ed0000;
    color: white;
    
}
.email:hover{
    background-color: #ed0000;
    color: white;
    
}
.email-text:hover{
    
    color: white;
    
}
.adress-title:hover{
  
    color: white;
    
}
.email-title:hover{
    
    color: white;
    
}
.number-title:hover{
    
    color: white;
    
}


